@font-face {
  font-family: 'SpecialElite';
  src: url('./../assets/fonts/SpecialElite-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'QuicksandBold';
  src: url('./../assets/fonts/Quicksand-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'QuicksandRegular';
  src: url('./../assets/fonts/Quicksand-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'QuicksandLight';
  src: url('./../assets/fonts/Quicksand-Light.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}


