@font-face {
  font-family: 'SpecialElite';
  src: url('./../fonts/SpecialElite-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
/*@font-face {
  font-family: 'RobotoRegular';
  src: url('./../fonts/Roboto-Regular-webfont.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'RobotoBlack';
  src: url('./../fonts/Roboto-Black-webfont.ttf') format('truetype');
  font-style: normal;
}*/

@font-face {
  font-family: 'QuicksandBold';
  src: url('./../assets/fonts/Quicksand-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'QuicksandRegular';
  src: url('./../assets/fonts/Quicksand-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'QuicksandLight';
  src: url('./../assets/fonts/Quicksand-Light.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}


